.cart-image {
    img {
        width: 95px;
        height: auto;
    }
}

.nopadding {
    tr td{
        padding: 0 !important;
        margin: 0 !important;
    }
}

.cart-qty {
   width: 70px;
}
